!!!

%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3018059-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  %body
    #main
      #content
        %p#header
          On the
          = day_of_christmas.numwords.ordinal
          day of Christmas,
          %br
          my iPhone gave to me&hellip;
        %ul#gifts
          - gifts.each do |gift|
            %li
              %p.lyric= gift["lyric"]
              %a{:href => gift["url"], :target => "_blank"}
                %img.icon{:src => gift["icon"]}
                .overlay download
              %p.name= gift["name"]
              %p.more_info= gift["description"]
